* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 1200px;
	margin: auto;
	font-family: 'Arial';

}

.card-wrapper {
	display: flex;
	width: 100%;
	margin-top: 122px;

	
}

.card {
	width: 253px;
	box-shadow: 0px 4px 4px 0px #00000040;
	padding: 16px 14px 16px 13px;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	margin-right: 24px;
}

.card:nth-child(4){
	margin-right: 0;
}

.card .card-img {
	width: 100%;
	height: 207px;
	background: #F6F6F6;
	display: flex;
	justify-content: center;
}

.card .card-img img {
	height: 100%;
	width: 164px;
}

.card h3 {
	margin: 16px 0 12px 0;
	font-size: 16px;
}

.card p {
	font-size: 12px;
	margin-bottom: 24px;
}

.card button {
	width: 100%;
	height: 40px;
	background: #2D9CDB;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}



@media screen and (min-width:  414px){
	.card-wrapper {
		justify-content: center;
		flex-wrap: wrap;
		display: flex;
	}
	.card {
		margin-right: 0;
	}
}


@media screen and (max-width:  1024px){
	body {
		max-width: 800px;
		margin: auto;

	}

	.card-wrapper {
		flex-wrap: wrap;
	}

	.card {
		width: 340px;
		margin-bottom: 24px;
	}

}